<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="com.luo.imall.web.dao.OmsCartItemDao">

   <select id="getCart" parameterType="com.luo.imall.web.entity.OmsCartItem" resultType="com.luo.imall.web.entity.OmsCartItem">
       select * from oms_cart_item where member_id = #{memberid};
   </select>

    <select id="getCartByName" parameterType="String" resultType="com.luo.imall.web.entity.BriefCartItem">
       select id,product_id,quantity,product_name,product_attribute_value,price from oms_cart_item where username = #{name} ;
    </select>

    <update id="UpdateCart" parameterType="com.luo.imall.web.entity.OmsCartItem">
        update oms_cart_item set quantity = #{quantity},modify_date = #{modifyDate} where id = #{id};
    </update>


    <insert id="addCart" parameterType="com.luo.imall.web.entity.OmsCartItem">
        insert into oms_cart_item(product_id,product_name,product_sn,username,member_nickname,quantity,price,product_brand,create_date,modify_date,product_type,product_attribute_value)
        values(#{productId},#{productName},#{productSn},#{username},#{memberNickname},#{quantity},#{price},#{productBrand},#{createDate},#{modifyDate},#{productType},#{productAttributeValue})
    </insert>
</mapper>
