<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="com.luo.imall.web.dao.PmsProductDao">

    <resultMap id="BaseResultMap" type="com.luo.imall.web.entity.PmsProduct">
        <id column="productId" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
        <result column="new_status" jdbcType="INTEGER" property="newStatus" />
        <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="sale" jdbcType="INTEGER" property="sale" />
        <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="weight" jdbcType="DECIMAL" property="weight" />
        <result column="service_ids" jdbcType="VARCHAR" property="serviceIds" />
        <result column="attribute_list" property="attributeList" />
        <association property="pmsProductAttributeValue" javaType="com.luo.imall.web.entity.PmsProductAttributeValue">
            <id column="id" property="id" />
            <result column="productId" property="productId" />
            <result column="product_attribute_value" property="productAttributeValue" />
            <result column="price" property="price" />
            <result column="stock" property="stock" />
            <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
            <result column="product_name" property="productName" />
        </association>
    </resultMap>

    <select id="findProductById" parameterType="Long" resultMap="BaseResultMap">
        select b.id ,b.product_name,a.name, a.brand_name,b.product_attribute_value,b.product_sn
        from pms_product a,pms_product_attribute_value b where a.id = b.product_id and b.id = #{id};
    </select>

    <!-- 查找商品详情 -->
    <select id="findProductBySn" parameterType="Long" resultMap="BaseResultMap">
        select a.id as productId, b.id ,b.product_name,a.name, brand_id ,brand_name, new_status, recommand_status, sale ,b.price, sub_title,b.stock,unit,weight,service_ids,detail_title,description,attribute_list,
        b.product_attribute_value
        from pms_product a ,pms_product_attribute_value b where a.id = b.product_id and b.product_sn = #{sn};
    </select>

    <!--通过关键字模糊查询商品-->
    <select id="keywordsFuzzyQuery" parameterType="String" resultType="com.luo.imall.web.entity.PmsProduct">
        select * from pms_product where name like #{keyWord};
    </select>
    
    <!--通过关键字精确查询商品-->
    <select id="keywordsAccurateQuery" parameterType="String" resultType="com.luo.imall.web.entity.PmsProduct">
        select * from pms_product where name = #{keyWord};
    </select>

    <!--通过关键字模糊查询商品,并按区间-->
    <select id="queryProductByInterval" resultType="com.luo.imall.web.entity.PmsProduct">
        select id,price,name,sub_title from pms_product a,pms_product_attribute_value b where name like #{good} and a.id = b.product_id and price between #{lowerBoundary} and #{upperBoundary};
    </select>

    
    <select id="findProductByClassificationId" parameterType="Long" resultType="com.luo.imall.web.entity.PmsProduct">
        select * from pms_product where product_category_id = #{id};
    </select>


    <select id="findProductByAttributeValue" resultType="com.luo.imall.web.entity.BriefProductAttributeValue">
        select product_sn
        from pms_product_attribute_value  where product_id = #{productId} and product_attribute_value = #{productAttributeValue};
    </select>
</mapper>
